*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

}

.navigation{
    height: 69px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid seashell;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.logo{
    padding-left: 10px;
    height: 50px;
}

.nav-menu{
    margin-right: 10px;
}

.nav-menu li{
    display: inline;
    margin-left: 20px;
}

li a{
    color: seashell;
    text-decoration: none;
}

li a:hover{
    font-weight: bold;
}

#mission{
    position: relative;
    top: 70px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/Applications/Desktop/full-stack/responsive_proj/resources/background.png);
    background-position: center;
    background-repeat: no-repeat;
}

#mission .words{
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 15px;
    min-height: 100px;
    flex-wrap: wrap;
}

#tea{
    position: relative;
    top: 150px;
    text-align: center;
}

#tea .words h4{ 
    padding: 15px;
}

.images{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tea .menu-item{
    padding: 15px;
}

#tea .menu-item h4{
    padding: 0;
}

#tea .images img{
    width: 300px;
    height: 200px;
    margin-bottom: 25px;
}

#locations{
    position: relative;
    top: 200px;
    min-height: 500px;
    text-align: center;
    background-image: url(/Applications/Desktop/full-stack/responsive_proj/resources/locations.png);
    background-position: center;
    background-repeat: no-repeat;
}

#locations h2{
    padding-top: 75px;
}

#locations .box{
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-flex;
    width: 300px;
    min-height: 250px;
    background-color: black;
    flex-direction: column;
    flex-wrap: row;
}

.box h4{
    margin-top: 15px;
}
.box .info{
    margin-top: 35px;
}

footer{
    position: relative;
    top: 250px;
    text-align: center;
}

footer h4{
    margin-bottom: 30px;
}

footer .contact{
    margin-bottom: 20px;
}

footer .copyright{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
}